*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  tab-size: 4;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  appearance: none;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

input {
  appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: var(--color-fg-strong);
}
